/* CSS declarations go here */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #bababa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #bababa;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #bababa;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bababa;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: #bababa;
}
textarea {
    border-color: #bababa;
}
body {
    color: white;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.round {
    border-radius: 0.5rem;
    background: #000000;
    padding: 0.5rem;
}
.title, .logout, .center {
    text-align: center;
    color: #f9f9f9;
}
pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}
.numposts {
    text-align: right;
    color: black;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1rem;
}
.messages, .right {
    color: #f9f9f9;
    text-align: right;
}
.search {
    color: #f9f9f9;
    text-align: left;
}
.playerAlive {
	background-color: #115533;
}
.playerDead {
	background-color: #062211;
}
.enemyAlive {
	background-color: #551133;
}
.enemyDead {
	background-color: #220611;
}
.unknownUnit {
	background-color: #331155;
}
.combatLog {
	font-size: .7rem;
}

.unitHeader {
	font-size: .7rem;
}
.unitCardName {
	font-size: 1rem !important;
}

.pbig{
	height: .8rem;
	margin-bottom: 0px;
	margin-top: 0px;
}
.ptext{
	position: relative;
	top: .85rem;
	left: 0.5rem;
	font-size: .65rem;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	font-weight: bold;
	z-index: 2;
}


.blendRed {
	background-color: #AA3333;
	background-blend-mode: multiply;
}

.blendDarkRed {
	background-color: #662222;
	background-blend-mode: multiply;
}

#error,#pmerror {
    color: #f9f9f9;
}


.pageListing {
    color: black;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1rem;
}
a {
    color: #efeef2;
    text-decoration: underline;
}
a:hover {
    color: #48c0c5;
    text-decoration: none;
}
.alarm {
    color: #c04037;
    text-decoration: none;
}
.alarm:hover {
    color: #fe5345;
    text-decoration: none;
}
.normal {
    color: #efeef2;
    text-decoration: underline;
}
.normal:hover {
    color: #48c0c5;
    text-decoration: none;
}
.username {
    color: #efeef2;
    font-weight: bold;
    text-decoration: none;
}
.username:hover {
    color: #48c0c5;
    font-weight: bold;
    text-decoration: none;
}
.editedusername {
    color: #a0837b;
    font-weight: bold;
    text-decoration: none;
}
.editedusername:hover {
    color: #efeef2;
    font-weight: bold;
    text-decoration: none;
}
.topic {
    color: black;
    text-decoration: underline;
}
.topic:hover {
    color: red;
    text-decoration: none;
}
.pages {
    color: black;
    text-decoration: underline;
}
.pages:hover {
    color: #28afb8;
    text-decoration: none;
}
.messagebox {
    width:100%;
    height:8rem;
}

body {
    background-color: #666b4e;
}
.stattext {
    font-size: 1rem;
}
.g-recaptcha div { margin-left: auto; margin-right: auto;}
.roundbg {
    border-radius: 0.5rem;
    background: #000000;
    padding: 0.5rem;
    color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-width: 0px;
    font-size: 1rem;
    margin-bottom: .4rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-top: 0px;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    text-align: left;
    vertical-align: baseline;
    word-wrap: break-word;
    background-color: #161616;
    word-wrap: break-word;
    list-style-type: none;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1rem;
}
.forumbg {
    color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-width: 0px;
    font-size: 1rem;
    margin-bottom: .4rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    margin-top: 0px;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    text-align: left;
    vertical-align: baseline;
    word-wrap: break-word;
    background-color: #161616;
    word-wrap: break-word;
    list-style-type: none;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1rem;
}
.postOne {
    background-color: #292929;
}
.postTwo {
    background-color: #414141;
}
.inner {
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    display: block;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
    vertical-align: baseline;
    word-wrap: break-word;
    list-style-type: none;
}
.list-inner {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}
.views {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.topiclist {
    display: block;
    list-style-position: outside;
    vertical-align: baseline;
    word-wrap: break-word;
    list-style-type: none;
}
.header {
    display: inline;
    list-style-type: none;
    list-style-position: outside;
    word-wrap: break-word;
}
ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
dt {
    display: inline;
}
.icon {
    display: inline;
}
.posts, .views, .lastpost {
    width: 90.5rem;
    padding-top: .2rem;
    margin-top: .2rem;
    margin-bottom: .4rem;
    text-transform: uppercase;
    vertical-align: baseline;
    list-style-type: none;
    list-style-position: outside;
    line-height: 1rem;
    float: left;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.post {
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.locked {
    color: #b0b0b0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.small {
    text-align: left;
    line-height: 1rem;
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.nowrap {
	word-wrap: normal;
}
.smallcenter {
    text-align: center;
    line-height: 1rem;
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.smallsubject {
    text-align: left;
    line-height: 1rem;
    color: #c0c0be;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.info {
    line-height: 1rem;
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.highlight {
    background-color: #878118;
}
.signature {
    border-top: 1px solid #787972;
    clear: left;
    font-size: 1rem;
}
.maximage {
    max-width: 40rem;
    max-height: 40rem;
}
.un {
    text-decoration: underline;
}
.post-buttons {
    list-style: none;
    display: block;
    float: none;
    margin: 0;
    right: 0;
}
.blockquote {
    background-color: #666b4e;
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 0.5rem solid #efeef2;
}
.likes {
    line-height: 1rem;
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.editedSmall {
    color: #a0837b;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.subject {
    line-height: 1rem;
    margin-top: .4rem;
    margin-bottom: .2rem;
    margin-right: 0px;
    margin-left: 0px;
}
.homesubject {
    line-height: 1rem;
    margin-top: .4rem;
    margin-bottom: .2rem;
    margin-right: 0px;
    margin-left: 8px;
}
.homesmallsubject {
    text-align: left;
    line-height: .8rem;
    color: #b3b3b1;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 8px;
}
.subscriptions {
    height: 32px;
    line-height: 32px;
    text-align: center;
}
.submitEdit {
    color: black;
}
.subjectText {
    color: white;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: .2rem;
    margin-top: .2rem;
}
.middle {
    line-height: 20px;
}
.nolock {
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}
.bottom {
    vertical-align: bottom;
    display: flex;
    text-align: center;
}
.hidetext {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.smallwidth {
    width: 500px;
}

.buttoncolor {
    color: black;
    float: right;
}
.admin {
    color: #9e7869;
    font-size: 1rem;
}
.moderator {
    color: #9b9e46;
    font-size: 1rem;
}
.buttonbig {
    color: black;
    float: right;
}
.short {
    margin-bottom: .2rem;
}
.chiptext {
    font-size: 1.1rem;
}
