.pot_red { width: 32px; height: 32px; background: url('/icons.png') -0px 0px }
.pot_orange { width: 32px; height: 32px; background: url('/icons.png') -32px 0px }
.pot_yellow { width: 32px; height: 32px; background: url('/icons.png') -64px 0px }
.pot_white { width: 32px; height: 32px; background: url('/icons.png') -96px 0px }
.pot_blue { width: 32px; height: 32px; background: url('/icons.png') -128px 0px }
.pot_green { width: 32px; height: 32px; background: url('/icons.png') -160px 0px }
.glove1 { width: 32px; height: 32px; background: url('/icons.png') -1472px -512px; }
.glove2 { width: 32px; height: 32px; background: url('/icons.png') -1088px -512px; }
.ass { width: 32px; height: 32px; background: url('/icons.png') -96px -96px; }
.sword1 { width: 32px; height: 32px; background: url('/icons.png') -0px -192px; }
.sword2 { width: 32px; height: 32px; background: url('/icons.png') -32px -192px; }
.sword3 { width: 32px; height: 32px; background: url('/icons.png') -64px -192px; }
.sword4 { width: 32px; height: 32px; background: url('/icons.png') -96px -192px; }
.sword5 { width: 32px; height: 32px; background: url('/icons.png') -128px -192px; }
.sword6 { width: 32px; height: 32px; background: url('/icons.png') -160px -192px; }
.sword7 { width: 32px; height: 32px; background: url('/icons.png') -192px -192px; }
.sword8 { width: 32px; height: 32px; background: url('/icons.png') -224px -192px; }
.sword9 { width: 32px; height: 32px; background: url('/icons.png') -256px -192px; }
.sword10 { width: 32px; height: 32px; background: url('/icons.png') -288px -192px; }
.sword11 { width: 32px; height: 32px; background: url('/icons.png') -320px -192px; }
.sword12 { width: 32px; height: 32px; background: url('/icons.png') -352px -192px; }
.sword13 { width: 32px; height: 32px; background: url('/icons.png') -384px -192px; }
.sword14 { width: 32px; height: 32px; background: url('/icons.png') -416px -192px; }
.sword15 { width: 32px; height: 32px; background: url('/icons.png') -448px -192px; }
.sword16 { width: 32px; height: 32px; background: url('/icons.png') -480px -192px; }
.sword17 { width: 32px; height: 32px; background: url('/icons.png') -512px -192px; }
.sword18 { width: 32px; height: 32px; background: url('/icons.png') -544px -192px; }
.sword19 { width: 32px; height: 32px; background: url('/icons.png') -576px -192px; }
.sword20 { width: 32px; height: 32px; background: url('/icons.png') -608px -192px; }
.sword21 { width: 32px; height: 32px; background: url('/icons.png') -640px -192px; }
.sword22 { width: 32px; height: 32px; background: url('/icons.png') -672px -192px; }
.sword23 { width: 32px; height: 32px; background: url('/icons.png') -704px -192px; }
.sword24 { width: 32px; height: 32px; background: url('/icons.png') -736px -192px; }
.sword25 { width: 32px; height: 32px; background: url('/icons.png') -768px -192px; }
.sword26 { width: 32px; height: 32px; background: url('/icons.png') -800px -192px; }
.sword27 { width: 32px; height: 32px; background: url('/icons.png') -832px -192px; }
.sword28 { width: 32px; height: 32px; background: url('/icons.png') -864px -192px; }
.sword29 { width: 32px; height: 32px; background: url('/icons.png') -896px -192px; }
.sword30 { width: 32px; height: 32px; background: url('/icons.png') -928px -192px; }
.sword31 { width: 32px; height: 32px; background: url('/icons.png') -960px -192px; }
.sword32 { width: 32px; height: 32px; background: url('/icons.png') -992px -192px; }
.sword33 { width: 32px; height: 32px; background: url('/icons.png') -1024px -192px; }
.sword34 { width: 32px; height: 32px; background: url('/icons.png') -1056px -192px; }
.sword35 { width: 32px; height: 32px; background: url('/icons.png') -1088px -192px; }
.sword36 { width: 32px; height: 32px; background: url('/icons.png') -1120px -192px; }
.sword37 { width: 32px; height: 32px; background: url('/icons.png') -1152px -192px; }
.sword38 { width: 32px; height: 32px; background: url('/icons.png') -1184px -192px; }
.sword39 { width: 32px; height: 32px; background: url('/icons.png') -1216px -192px; }
.sword40 { width: 32px; height: 32px; background: url('/icons.png') -1248px -192px; }
.sword41 { width: 32px; height: 32px; background: url('/icons.png') -1280px -192px; }
.sword42 { width: 32px; height: 32px; background: url('/icons.png') -1312px -192px; }
.sword43 { width: 32px; height: 32px; background: url('/icons.png') -1344px -192px; }
.sword44 { width: 32px; height: 32px; background: url('/icons.png') -1376px -192px; }
.sword45 { width: 32px; height: 32px; background: url('/icons.png') -1408px -192px; }
.sword46 { width: 32px; height: 32px; background: url('/icons.png') -1440px -192px; }
.sword47 { width: 32px; height: 32px; background: url('/icons.png') -1472px -192px; }
.sword48 { width: 32px; height: 32px; background: url('/icons.png') -1504px -192px; }
.sword49 { width: 32px; height: 32px; background: url('/icons.png') -1536px -192px; }
.sword50 { width: 32px; height: 32px; background: url('/icons.png') -1568px -192px; }
.sword51 { width: 32px; height: 32px; background: url('/icons.png') -1600px -192px; }
.sword52 { width: 32px; height: 32px; background: url('/icons.png') -1632px -192px; }
.sword53 { width: 32px; height: 32px; background: url('/icons.png') -1664px -192px; }
.sword54 { width: 32px; height: 32px; background: url('/icons.png') -1696px -192px; }
.dagger1 { width: 32px; height: 32px; background: url('/icons.png') -1728px -192px; }
.dagger2 { width: 32px; height: 32px; background: url('/icons.png') -1760px -192px; }
.dagger3 { width: 32px; height: 32px; background: url('/icons.png') -1792px -192px; }
.dagger4 { width: 32px; height: 32px; background: url('/icons.png') -1824px -192px; }
.dagger5 { width: 32px; height: 32px; background: url('/icons.png') -1856px -192px; }
.dagger6 { width: 32px; height: 32px; background: url('/icons.png') -1888px -192px; }
.dagger7 { width: 32px; height: 32px; background: url('/icons.png') -1920px -192px; }
.dagger8 { width: 32px; height: 32px; background: url('/icons.png') -1952px -192px; }
.dagger9 { width: 32px; height: 32px; background: url('/icons.png') -1984px -192px; }
.dagger10 { width: 32px; height: 32px; background: url('/icons.png') -2016px -192px; }
.dagger11 { width: 32px; height: 32px; background: url('/icons.png') -0px -224px; }
.dagger12 { width: 32px; height: 32px; background: url('/icons.png') -32px -224px; }
.dagger13 { width: 32px; height: 32px; background: url('/icons.png') -64px -224px; }
.dagger14 { width: 32px; height: 32px; background: url('/icons.png') -96px -224px; }
.dagger15 { width: 32px; height: 32px; background: url('/icons.png') -128px -224px; }
.dagger16 { width: 32px; height: 32px; background: url('/icons.png') -160px -224px; }
.dagger17 { width: 32px; height: 32px; background: url('/icons.png') -192px -224px; }
.dagger18 { width: 32px; height: 32px; background: url('/icons.png') -224px -224px; }
.dagger19 { width: 32px; height: 32px; background: url('/icons.png') -256px -224px; }
.dagger20 { width: 32px; height: 32px; background: url('/icons.png') -288px -224px; }
.dagger21 { width: 32px; height: 32px; background: url('/icons.png') -320px -224px; }
.dagger22 { width: 32px; height: 32px; background: url('/icons.png') -352px -224px; }
.dagger23 { width: 32px; height: 32px; background: url('/icons.png') -384px -224px; }
.dagger24 { width: 32px; height: 32px; background: url('/icons.png') -416px -224px; }
.dagger25 { width: 32px; height: 32px; background: url('/icons.png') -448px -224px; }
.dagger26 { width: 32px; height: 32px; background: url('/icons.png') -480px -224px; }
.dagger27 { width: 32px; height: 32px; background: url('/icons.png') -512px -224px; }
.dagger28 { width: 32px; height: 32px; background: url('/icons.png') -544px -224px; }
.dagger29 { width: 32px; height: 32px; background: url('/icons.png') -576px -224px; }
.dagger30 { width: 32px; height: 32px; background: url('/icons.png') -608px -224px; }
.dagger31 { width: 32px; height: 32px; background: url('/icons.png') -640px -224px; }
.dagger32 { width: 32px; height: 32px; background: url('/icons.png') -672px -224px; }
.katar1 { width: 32px; height: 32px; background: url('/icons.png') -704px -224px; }
.katar2 { width: 32px; height: 32px; background: url('/icons.png') -736px -224px; }
.katar3 { width: 32px; height: 32px; background: url('/icons.png') -768px -224px; }
.katar4 { width: 32px; height: 32px; background: url('/icons.png') -800px -224px; }
.katar5 { width: 32px; height: 32px; background: url('/icons.png') -832px -224px; }
.katar6 { width: 32px; height: 32px; background: url('/icons.png') -864px -224px; }
.katar7 { width: 32px; height: 32px; background: url('/icons.png') -896px -224px; }
.katar8 { width: 32px; height: 32px; background: url('/icons.png') -928px -224px; }
.katar9 { width: 32px; height: 32px; background: url('/icons.png') -960px -224px; }
.katar10 { width: 32px; height: 32px; background: url('/icons.png') -992px -224px; }
.katar11 { width: 32px; height: 32px; background: url('/icons.png') -1024px -224px; }
.katar12 { width: 32px; height: 32px; background: url('/icons.png') -1056px -224px; }
.katar13 { width: 32px; height: 32px; background: url('/icons.png') -1088px -224px; }
.katar14 { width: 32px; height: 32px; background: url('/icons.png') -1120px -224px; }
.katar15 { width: 32px; height: 32px; background: url('/icons.png') -1152px -224px; }
.katar16 { width: 32px; height: 32px; background: url('/icons.png') -1184px -224px; }
.katar17 { width: 32px; height: 32px; background: url('/icons.png') -1216px -224px; }
.katar18 { width: 32px; height: 32px; background: url('/icons.png') -1248px -224px; }
.katar19 { width: 32px; height: 32px; background: url('/icons.png') -1280px -224px; }
.katar20 { width: 32px; height: 32px; background: url('/icons.png') -1312px -224px; }
.katar21 { width: 32px; height: 32px; background: url('/icons.png') -1344px -224px; }
.katar22 { width: 32px; height: 32px; background: url('/icons.png') -1376px -224px; }
.katar23 { width: 32px; height: 32px; background: url('/icons.png') -1408px -224px; }
.axe1 { width: 32px; height: 32px; background: url('/icons.png') -1440px -224px; }
.axe2 { width: 32px; height: 32px; background: url('/icons.png') -1472px -224px; }
.axe3 { width: 32px; height: 32px; background: url('/icons.png') -1504px -224px; }
.axe4 { width: 32px; height: 32px; background: url('/icons.png') -1536px -224px; }
.axe5 { width: 32px; height: 32px; background: url('/icons.png') -1568px -224px; }
.axe6 { width: 32px; height: 32px; background: url('/icons.png') -1600px -224px; }
.axe7 { width: 32px; height: 32px; background: url('/icons.png') -1632px -224px; }
.axe8 { width: 32px; height: 32px; background: url('/icons.png') -1664px -224px; }
.axe9 { width: 32px; height: 32px; background: url('/icons.png') -1696px -224px; }
.axe10 { width: 32px; height: 32px; background: url('/icons.png') -1728px -224px; }
.axe11 { width: 32px; height: 32px; background: url('/icons.png') -1760px -224px; }
.axe12 { width: 32px; height: 32px; background: url('/icons.png') -1792px -224px; }
.axe13 { width: 32px; height: 32px; background: url('/icons.png') -1824px -224px; }
.axe14 { width: 32px; height: 32px; background: url('/icons.png') -1856px -224px; }
.axe15 { width: 32px; height: 32px; background: url('/icons.png') -1888px -224px; }
.axe16 { width: 32px; height: 32px; background: url('/icons.png') -1920px -224px; }
.axe17 { width: 32px; height: 32px; background: url('/icons.png') -1952px -224px; }
.axe18 { width: 32px; height: 32px; background: url('/icons.png') -1984px -224px; }
.axe19 { width: 32px; height: 32px; background: url('/icons.png') -2016px -224px; }
.axe20 { width: 32px; height: 32px; background: url('/icons.png') -0px -256px; }
.axe21 { width: 32px; height: 32px; background: url('/icons.png') -32px -256px; }
.axe22 { width: 32px; height: 32px; background: url('/icons.png') -64px -256px; }
.axe23 { width: 32px; height: 32px; background: url('/icons.png') -96px -256px; }
.axe24 { width: 32px; height: 32px; background: url('/icons.png') -128px -256px; }
.axe25 { width: 32px; height: 32px; background: url('/icons.png') -160px -256px; }
.axe26 { width: 32px; height: 32px; background: url('/icons.png') -192px -256px; }
.axe27 { width: 32px; height: 32px; background: url('/icons.png') -224px -256px; }
.axe28 { width: 32px; height: 32px; background: url('/icons.png') -256px -256px; }
.axe29 { width: 32px; height: 32px; background: url('/icons.png') -288px -256px; }
.axe30 { width: 32px; height: 32px; background: url('/icons.png') -320px -256px; }
.spear1 { width: 32px; height: 32px; background: url('/icons.png') -384px -256px; }
.spear2 { width: 32px; height: 32px; background: url('/icons.png') -416px -256px; }
.spear3 { width: 32px; height: 32px; background: url('/icons.png') -448px -256px; }
.spear4 { width: 32px; height: 32px; background: url('/icons.png') -480px -256px; }
.spear5 { width: 32px; height: 32px; background: url('/icons.png') -512px -256px; }
.spear6 { width: 32px; height: 32px; background: url('/icons.png') -544px -256px; }
.spear7 { width: 32px; height: 32px; background: url('/icons.png') -576px -256px; }
.spear8 { width: 32px; height: 32px; background: url('/icons.png') -608px -256px; }
.spear9 { width: 32px; height: 32px; background: url('/icons.png') -640px -256px; }
.spear10 { width: 32px; height: 32px; background: url('/icons.png') -672px -256px; }
.spear11 { width: 32px; height: 32px; background: url('/icons.png') -704px -256px; }
.spear12 { width: 32px; height: 32px; background: url('/icons.png') -736px -256px; }
.spear13 { width: 32px; height: 32px; background: url('/icons.png') -768px -256px; }
.spear14 { width: 32px; height: 32px; background: url('/icons.png') -800px -256px; }
.spear15 { width: 32px; height: 32px; background: url('/icons.png') -832px -256px; }
.spear16 { width: 32px; height: 32px; background: url('/icons.png') -864px -256px; }
.spear17 { width: 32px; height: 32px; background: url('/icons.png') -896px -256px; }
.spear18 { width: 32px; height: 32px; background: url('/icons.png') -928px -256px; }
.spear19 { width: 32px; height: 32px; background: url('/icons.png') -960px -256px; }
.spear20 { width: 32px; height: 32px; background: url('/icons.png') -992px -256px; }
.spear21 { width: 32px; height: 32px; background: url('/icons.png') -1024px -256px; }
.spear22 { width: 32px; height: 32px; background: url('/icons.png') -1056px -256px; }
.spear23 { width: 32px; height: 32px; background: url('/icons.png') -1088px -256px; }
.spear24 { width: 32px; height: 32px; background: url('/icons.png') -1120px -256px; }
.spear25 { width: 32px; height: 32px; background: url('/icons.png') -1152px -256px; }
.spear26 { width: 32px; height: 32px; background: url('/icons.png') -1184px -256px; }
.spear27 { width: 32px; height: 32px; background: url('/icons.png') -1216px -256px; }
.spear28 { width: 32px; height: 32px; background: url('/icons.png') -1248px -256px; }
.spear29 { width: 32px; height: 32px; background: url('/icons.png') -1280px -256px; }
.spear30 { width: 32px; height: 32px; background: url('/icons.png') -1312px -256px; }
.spear31 { width: 32px; height: 32px; background: url('/icons.png') -1344px -256px; }
.spear32 { width: 32px; height: 32px; background: url('/icons.png') -1376px -256px; }
.spear33 { width: 32px; height: 32px; background: url('/icons.png') -1408px -256px; }
.spear34 { width: 32px; height: 32px; background: url('/icons.png') -1440px -256px; }
.spear35 { width: 32px; height: 32px; background: url('/icons.png') -1472px -256px; }
.spear36 { width: 32px; height: 32px; background: url('/icons.png') -1504px -256px; }
.spear37 { width: 32px; height: 32px; background: url('/icons.png') -1536px -256px; }
.spear38 { width: 32px; height: 32px; background: url('/icons.png') -1568px -256px; }
.spear39 { width: 32px; height: 32px; background: url('/icons.png') -1600px -256px; }
.spear40 { width: 32px; height: 32px; background: url('/icons.png') -1632px -256px; }
.spear41 { width: 32px; height: 32px; background: url('/icons.png') -1664px -256px; }
.spear42 { width: 32px; height: 32px; background: url('/icons.png') -1696px -256px; }
.mace1 { width: 32px; height: 32px; background: url('/icons.png') -1728px -256px; }
.mace2 { width: 32px; height: 32px; background: url('/icons.png') -1760px -256px; }
.mace3 { width: 32px; height: 32px; background: url('/icons.png') -1792px -256px; }
.mace4 { width: 32px; height: 32px; background: url('/icons.png') -1824px -256px; }
.mace5 { width: 32px; height: 32px; background: url('/icons.png') -1856px -256px; }
.mace6 { width: 32px; height: 32px; background: url('/icons.png') -1888px -256px; }
.mace7 { width: 32px; height: 32px; background: url('/icons.png') -1920px -256px; }
.mace8 { width: 32px; height: 32px; background: url('/icons.png') -1952px -256px; }
.mace9 { width: 32px; height: 32px; background: url('/icons.png') -1984px -256px; }
.mace10 { width: 32px; height: 32px; background: url('/icons.png') -2016px -256px; }
.mace11 { width: 32px; height: 32px; background: url('/icons.png') -0px -288px; }
.mace12 { width: 32px; height: 32px; background: url('/icons.png') -32px -288px; }
.mace13 { width: 32px; height: 32px; background: url('/icons.png') -64px -288px; }
.mace14 { width: 32px; height: 32px; background: url('/icons.png') -96px -288px; }
.mace15 { width: 32px; height: 32px; background: url('/icons.png') -128px -288px; }
.mace16 { width: 32px; height: 32px; background: url('/icons.png') -160px -288px; }
.mace17 { width: 32px; height: 32px; background: url('/icons.png') -192px -288px; }
.mace18 { width: 32px; height: 32px; background: url('/icons.png') -224px -288px; }
.mace19 { width: 32px; height: 32px; background: url('/icons.png') -256px -288px; }
.mace20 { width: 32px; height: 32px; background: url('/icons.png') -288px -288px; }
.mace21 { width: 32px; height: 32px; background: url('/icons.png') -320px -288px; }
.mace22 { width: 32px; height: 32px; background: url('/icons.png') -352px -288px; }
.book1 { width: 32px; height: 32px; background: url('/icons.png') -384px -288px; }
.book2 { width: 32px; height: 32px; background: url('/icons.png') -416px -288px; }
.book3 { width: 32px; height: 32px; background: url('/icons.png') -448px -288px; }
.book4 { width: 32px; height: 32px; background: url('/icons.png') -480px -288px; }
.book5 { width: 32px; height: 32px; background: url('/icons.png') -512px -288px; }
.book6 { width: 32px; height: 32px; background: url('/icons.png') -544px -288px; }
.book7 { width: 32px; height: 32px; background: url('/icons.png') -576px -288px; }
.book8 { width: 32px; height: 32px; background: url('/icons.png') -608px -288px; }
.book9 { width: 32px; height: 32px; background: url('/icons.png') -640px -288px; }
.book10 { width: 32px; height: 32px; background: url('/icons.png') -672px -288px; }
.book11 { width: 32px; height: 32px; background: url('/icons.png') -704px -288px; }
.book12 { width: 32px; height: 32px; background: url('/icons.png') -736px -288px; }
.book13 { width: 32px; height: 32px; background: url('/icons.png') -768px -288px; }
.book14 { width: 32px; height: 32px; background: url('/icons.png') -800px -288px; }
.book15 { width: 32px; height: 32px; background: url('/icons.png') -832px -288px; }
.book16 { width: 32px; height: 32px; background: url('/icons.png') -864px -288px; }
.book17 { width: 32px; height: 32px; background: url('/icons.png') -896px -288px; }
.book18 { width: 32px; height: 32px; background: url('/icons.png') -928px -288px; }
.book19 { width: 32px; height: 32px; background: url('/icons.png') -960px -288px; }
.book20 { width: 32px; height: 32px; background: url('/icons.png') -992px -288px; }
.wand1 { width: 32px; height: 32px; background: url('/icons.png') -1024px -288px; }
.wand2 { width: 32px; height: 32px; background: url('/icons.png') -1056px -288px; }
.wand3 { width: 32px; height: 32px; background: url('/icons.png') -1088px -288px; }
.wand4 { width: 32px; height: 32px; background: url('/icons.png') -1120px -288px; }
.wand5 { width: 32px; height: 32px; background: url('/icons.png') -1152px -288px; }
.wand6 { width: 32px; height: 32px; background: url('/icons.png') -1184px -288px; }
.wand7 { width: 32px; height: 32px; background: url('/icons.png') -1216px -288px; }
.wand8 { width: 32px; height: 32px; background: url('/icons.png') -1248px -288px; }
.wand9 { width: 32px; height: 32px; background: url('/icons.png') -1280px -288px; }
.wand10 { width: 32px; height: 32px; background: url('/icons.png') -1312px -288px; }
.wand11 { width: 32px; height: 32px; background: url('/icons.png') -1344px -288px; }
.wand12 { width: 32px; height: 32px; background: url('/icons.png') -1376px -288px; }
.wand13 { width: 32px; height: 32px; background: url('/icons.png') -1408px -288px; }
.wand14 { width: 32px; height: 32px; background: url('/icons.png') -1440px -288px; }
.wand15 { width: 32px; height: 32px; background: url('/icons.png') -1472px -288px; }
.wand16 { width: 32px; height: 32px; background: url('/icons.png') -1504px -288px; }
.wand17 { width: 32px; height: 32px; background: url('/icons.png') -1536px -288px; }
.wand18 { width: 32px; height: 32px; background: url('/icons.png') -1568px -288px; }
.wand19 { width: 32px; height: 32px; background: url('/icons.png') -1600px -288px; }
.wand20 { width: 32px; height: 32px; background: url('/icons.png') -1632px -288px; }
.wand21 { width: 32px; height: 32px; background: url('/icons.png') -1664px -288px; }
.wand22 { width: 32px; height: 32px; background: url('/icons.png') -1696px -288px; }
.wand23 { width: 32px; height: 32px; background: url('/icons.png') -1728px -288px; }
.wand24 { width: 32px; height: 32px; background: url('/icons.png') -1760px -288px; }
.wand25 { width: 32px; height: 32px; background: url('/icons.png') -1792px -288px; }
.wand26 { width: 32px; height: 32px; background: url('/icons.png') -1824px -288px; }
.wand27 { width: 32px; height: 32px; background: url('/icons.png') -1856px -288px; }
.wand28 { width: 32px; height: 32px; background: url('/icons.png') -1888px -288px; }
.wand29 { width: 32px; height: 32px; background: url('/icons.png') -1920px -288px; }
.wand30 { width: 32px; height: 32px; background: url('/icons.png') -1952px -288px; }
.bow1 { width: 32px; height: 32px; background: url('/icons.png') -1984px -288px; }
.bow2 { width: 32px; height: 32px; background: url('/icons.png') -2016px -288px; }
.bow3 { width: 32px; height: 32px; background: url('/icons.png') -0px -320px; }
.bow4 { width: 32px; height: 32px; background: url('/icons.png') -32px -320px; }
.bow5 { width: 32px; height: 32px; background: url('/icons.png') -64px -320px; }
.bow6 { width: 32px; height: 32px; background: url('/icons.png') -96px -320px; }
.bow7 { width: 32px; height: 32px; background: url('/icons.png') -128px -320px; }
.bow8 { width: 32px; height: 32px; background: url('/icons.png') -160px -320px; }
.bow9 { width: 32px; height: 32px; background: url('/icons.png') -192px -320px; }
.bow10 { width: 32px; height: 32px; background: url('/icons.png') -224px -320px; }
.bow11 { width: 32px; height: 32px; background: url('/icons.png') -256px -320px; }
.bow12 { width: 32px; height: 32px; background: url('/icons.png') -288px -320px; }
.bow13 { width: 32px; height: 32px; background: url('/icons.png') -320px -320px; }
.bow14 { width: 32px; height: 32px; background: url('/icons.png') -352px -320px; }
.bow15 { width: 32px; height: 32px; background: url('/icons.png') -384px -320px; }
.bow16 { width: 32px; height: 32px; background: url('/icons.png') -416px -320px; }
.bow17 { width: 32px; height: 32px; background: url('/icons.png') -448px -320px; }
.bow18 { width: 32px; height: 32px; background: url('/icons.png') -480px -320px; }
.bow19 { width: 32px; height: 32px; background: url('/icons.png') -512px -320px; }
.bow20 { width: 32px; height: 32px; background: url('/icons.png') -544px -320px; }
.bow21 { width: 32px; height: 32px; background: url('/icons.png') -576px -320px; }
.bow22 { width: 32px; height: 32px; background: url('/icons.png') -608px -320px; }
.bow23 { width: 32px; height: 32px; background: url('/icons.png') -640px -320px; }
.bow24 { width: 32px; height: 32px; background: url('/icons.png') -672px -320px; }
.arrow1 { width: 32px; height: 32px; background: url('/icons.png') -704px -320px; }
.arrow2 { width: 32px; height: 32px; background: url('/icons.png') -736px -320px; }
.arrow3 { width: 32px; height: 32px; background: url('/icons.png') -768px -320px; }
.arrow4 { width: 32px; height: 32px; background: url('/icons.png') -800px -320px; }
.arrow5 { width: 32px; height: 32px; background: url('/icons.png') -832px -320px; }
.arrow6 { width: 32px; height: 32px; background: url('/icons.png') -864px -320px; }
.arrow7 { width: 32px; height: 32px; background: url('/icons.png') -896px -320px; }
.arrow8 { width: 32px; height: 32px; background: url('/icons.png') -928px -320px; }
.arrow9 { width: 32px; height: 32px; background: url('/icons.png') -960px -320px; }
.arrow10 { width: 32px; height: 32px; background: url('/icons.png') -992px -320px; }
.arrow11 { width: 32px; height: 32px; background: url('/icons.png') -1024px -320px; }
.arrow12 { width: 32px; height: 32px; background: url('/icons.png') -1056px -320px; }
.arrow13 { width: 32px; height: 32px; background: url('/icons.png') -1088px -320px; }
.arrow14 { width: 32px; height: 32px; background: url('/icons.png') -1120px -320px; }
.arrow15 { width: 32px; height: 32px; background: url('/icons.png') -1152px -320px; }
.arrow16 { width: 32px; height: 32px; background: url('/icons.png') -1184px -320px; }
.arrow17 { width: 32px; height: 32px; background: url('/icons.png') -1216px -320px; }
.arrow18 { width: 32px; height: 32px; background: url('/icons.png') -1248px -320px; }
.arrow19 { width: 32px; height: 32px; background: url('/icons.png') -1280px -320px; }
.arrow20 { width: 32px; height: 32px; background: url('/icons.png') -1312px -320px; }
.shield1 { width: 32px; height: 32px; background: url('/icons.png') -1984px -352px; }
.shield2 { width: 32px; height: 32px; background: url('/icons.png') -2016px -352px; }
.shield3 { width: 32px; height: 32px; background: url('/icons.png') -0px -384px; }
.shield4 { width: 32px; height: 32px; background: url('/icons.png') -32px -384px; }
.shield5 { width: 32px; height: 32px; background: url('/icons.png') -64px -384px; }
.shield6 { width: 32px; height: 32px; background: url('/icons.png') -96px -384px; }
.shield7 { width: 32px; height: 32px; background: url('/icons.png') -128px -384px; }
.shield8 { width: 32px; height: 32px; background: url('/icons.png') -160px -384px; }
.shield9 { width: 32px; height: 32px; background: url('/icons.png') -192px -384px; }
.shield10 { width: 32px; height: 32px; background: url('/icons.png') -224px -384px; }
.shield11 { width: 32px; height: 32px; background: url('/icons.png') -256px -384px; }
.shield12 { width: 32px; height: 32px; background: url('/icons.png') -288px -384px; }
.shield13 { width: 32px; height: 32px; background: url('/icons.png') -320px -384px; }
.shield14 { width: 32px; height: 32px; background: url('/icons.png') -352px -384px; }
.shield15 { width: 32px; height: 32px; background: url('/icons.png') -384px -384px; }
.shield16 { width: 32px; height: 32px; background: url('/icons.png') -416px -384px; }
.shield17 { width: 32px; height: 32px; background: url('/icons.png') -448px -384px; }
.shield18 { width: 32px; height: 32px; background: url('/icons.png') -480px -384px; }
.shield19 { width: 32px; height: 32px; background: url('/icons.png') -512px -384px; }
.shield20 { width: 32px; height: 32px; background: url('/icons.png') -544px -384px; }
.shield21 { width: 32px; height: 32px; background: url('/icons.png') -576px -384px; }
.shield22 { width: 32px; height: 32px; background: url('/icons.png') -608px -384px; }
.shield23 { width: 32px; height: 32px; background: url('/icons.png') -640px -384px; }
.shield24 { width: 32px; height: 32px; background: url('/icons.png') -672px -384px; }
.shield25 { width: 32px; height: 32px; background: url('/icons.png') -704px -384px; }
.shield26 { width: 32px; height: 32px; background: url('/icons.png') -736px -384px; }
.shield27 { width: 32px; height: 32px; background: url('/icons.png') -768px -384px; }
.shield28 { width: 32px; height: 32px; background: url('/icons.png') -800px -384px; }
.shield29 { width: 32px; height: 32px; background: url('/icons.png') -832px -384px; }
.shield30 { width: 32px; height: 32px; background: url('/icons.png') -864px -384px; }
.shield31 { width: 32px; height: 32px; background: url('/icons.png') -896px -384px; }
.shield32 { width: 32px; height: 32px; background: url('/icons.png') -928px -384px; }
.shield33 { width: 32px; height: 32px; background: url('/icons.png') -960px -384px; }
.shield34 { width: 32px; height: 32px; background: url('/icons.png') -992px -384px; }
.shield35 { width: 32px; height: 32px; background: url('/icons.png') -1024px -384px; }
.shield36 { width: 32px; height: 32px; background: url('/icons.png') -1056px -384px; }
.shield37 { width: 32px; height: 32px; background: url('/icons.png') -1088px -384px; }
.shield38 { width: 32px; height: 32px; background: url('/icons.png') -1120px -384px; }
.shield39 { width: 32px; height: 32px; background: url('/icons.png') -1152px -384px; }
.shield40 { width: 32px; height: 32px; background: url('/icons.png') -1184px -384px; }
.shield41 { width: 32px; height: 32px; background: url('/icons.png') -1216px -384px; }
.shield42 { width: 32px; height: 32px; background: url('/icons.png') -1248px -384px; }
.shield43 { width: 32px; height: 32px; background: url('/icons.png') -1280px -384px; }
.shield44 { width: 32px; height: 32px; background: url('/icons.png') -1312px -384px; }
.shield45 { width: 32px; height: 32px; background: url('/icons.png') -1344px -384px; }
.shield46 { width: 32px; height: 32px; background: url('/icons.png') -1376px -384px; }
.shield47 { width: 32px; height: 32px; background: url('/icons.png') -1408px -384px; }
.helm1 { width: 32px; height: 32px; background: url('/icons.png') -1504px -384px; }
.helm2 { width: 32px; height: 32px; background: url('/icons.png') -1536px -384px; }
.helm3 { width: 32px; height: 32px; background: url('/icons.png') -1568px -384px; }
.helm4 { width: 32px; height: 32px; background: url('/icons.png') -1600px -384px; }
.helm5 { width: 32px; height: 32px; background: url('/icons.png') -1632px -384px; }
.helm6 { width: 32px; height: 32px; background: url('/icons.png') -1664px -384px; }
.helm7 { width: 32px; height: 32px; background: url('/icons.png') -1696px -384px; }
.helm8 { width: 32px; height: 32px; background: url('/icons.png') -1728px -384px; }
.helm9 { width: 32px; height: 32px; background: url('/icons.png') -1760px -384px; }
.helm10 { width: 32px; height: 32px; background: url('/icons.png') -1792px -384px; }
.helm11 { width: 32px; height: 32px; background: url('/icons.png') -1824px -384px; }
.helm12 { width: 32px; height: 32px; background: url('/icons.png') -1856px -384px; }
.helm13 { width: 32px; height: 32px; background: url('/icons.png') -1888px -384px; }
.helm14 { width: 32px; height: 32px; background: url('/icons.png') -1920px -384px; }
.helm15 { width: 32px; height: 32px; background: url('/icons.png') -1952px -384px; }
.helm16 { width: 32px; height: 32px; background: url('/icons.png') -1984px -384px; }
.helm17 { width: 32px; height: 32px; background: url('/icons.png') -2016px -384px; }
.helm18 { width: 32px; height: 32px; background: url('/icons.png') -0px -416px; }
.helm19 { width: 32px; height: 32px; background: url('/icons.png') -32px -416px; }
.helm20 { width: 32px; height: 32px; background: url('/icons.png') -64px -416px; }
.helm21 { width: 32px; height: 32px; background: url('/icons.png') -96px -416px; }
.helm22 { width: 32px; height: 32px; background: url('/icons.png') -128px -416px; }
.helm23 { width: 32px; height: 32px; background: url('/icons.png') -160px -416px; }
.helm24 { width: 32px; height: 32px; background: url('/icons.png') -192px -416px; }
.helm25 { width: 32px; height: 32px; background: url('/icons.png') -224px -416px; }
.helm26 { width: 32px; height: 32px; background: url('/icons.png') -256px -416px; }
.helm27 { width: 32px; height: 32px; background: url('/icons.png') -288px -416px; }
.helm28 { width: 32px; height: 32px; background: url('/icons.png') -320px -416px; }
.helm29 { width: 32px; height: 32px; background: url('/icons.png') -352px -416px; }
.helm30 { width: 32px; height: 32px; background: url('/icons.png') -384px -416px; }
.helm31 { width: 32px; height: 32px; background: url('/icons.png') -416px -416px; }
.helm32 { width: 32px; height: 32px; background: url('/icons.png') -448px -416px; }
.helm33 { width: 32px; height: 32px; background: url('/icons.png') -480px -416px; }
.helm34 { width: 32px; height: 32px; background: url('/icons.png') -512px -416px; }
.helm35 { width: 32px; height: 32px; background: url('/icons.png') -544px -416px; }
.helm36 { width: 32px; height: 32px; background: url('/icons.png') -576px -416px; }
.helm37 { width: 32px; height: 32px; background: url('/icons.png') -608px -416px; }
.helm38 { width: 32px; height: 32px; background: url('/icons.png') -640px -416px; }
.helm39 { width: 32px; height: 32px; background: url('/icons.png') -672px -416px; }
.helm40 { width: 32px; height: 32px; background: url('/icons.png') -704px -416px; }
.helm41 { width: 32px; height: 32px; background: url('/icons.png') -736px -416px; }
.helm42 { width: 32px; height: 32px; background: url('/icons.png') -768px -416px; }
.helm43 { width: 32px; height: 32px; background: url('/icons.png') -800px -416px; }
.helm44 { width: 32px; height: 32px; background: url('/icons.png') -832px -416px; }
.helm45 { width: 32px; height: 32px; background: url('/icons.png') -864px -416px; }
.helm46 { width: 32px; height: 32px; background: url('/icons.png') -896px -416px; }
.helm47 { width: 32px; height: 32px; background: url('/icons.png') -928px -416px; }
.helm48 { width: 32px; height: 32px; background: url('/icons.png') -960px -416px; }
.helm49 { width: 32px; height: 32px; background: url('/icons.png') -992px -416px; }
.helm50 { width: 32px; height: 32px; background: url('/icons.png') -1024px -416px; }
.helm51 { width: 32px; height: 32px; background: url('/icons.png') -1056px -416px; }
.helm52 { width: 32px; height: 32px; background: url('/icons.png') -1088px -416px; }
.helm53 { width: 32px; height: 32px; background: url('/icons.png') -1120px -416px; }
.helm54 { width: 32px; height: 32px; background: url('/icons.png') -1152px -416px; }
.helm55 { width: 32px; height: 32px; background: url('/icons.png') -1184px -416px; }
.helm56 { width: 32px; height: 32px; background: url('/icons.png') -1216px -416px; }
.helm57 { width: 32px; height: 32px; background: url('/icons.png') -1248px -416px; }
.helm58 { width: 32px; height: 32px; background: url('/icons.png') -1280px -416px; }
.helm59 { width: 32px; height: 32px; background: url('/icons.png') -1312px -416px; }
.helm60 { width: 32px; height: 32px; background: url('/icons.png') -1344px -416px; }
.helm61 { width: 32px; height: 32px; background: url('/icons.png') -1376px -416px; }
.helm62 { width: 32px; height: 32px; background: url('/icons.png') -1408px -416px; }
.helm63 { width: 32px; height: 32px; background: url('/icons.png') -1440px -416px; }
.helm64 { width: 32px; height: 32px; background: url('/icons.png') -1472px -416px; }
.helm65 { width: 32px; height: 32px; background: url('/icons.png') -1504px -416px; }
.helm66 { width: 32px; height: 32px; background: url('/icons.png') -1536px -416px; }
.helm67 { width: 32px; height: 32px; background: url('/icons.png') -1568px -416px; }
.helm68 { width: 32px; height: 32px; background: url('/icons.png') -1600px -416px; }
.helm69 { width: 32px; height: 32px; background: url('/icons.png') -1632px -416px; }
.helm70 { width: 32px; height: 32px; background: url('/icons.png') -1664px -416px; }
.helm71 { width: 32px; height: 32px; background: url('/icons.png') -1696px -416px; }
.helm72 { width: 32px; height: 32px; background: url('/icons.png') -1728px -416px; }
.helm73 { width: 32px; height: 32px; background: url('/icons.png') -1760px -416px; }
.helm74 { width: 32px; height: 32px; background: url('/icons.png') -1792px -416px; }
.helm75 { width: 32px; height: 32px; background: url('/icons.png') -1824px -416px; }
.helm76 { width: 32px; height: 32px; background: url('/icons.png') -1856px -416px; }
.helm77 { width: 32px; height: 32px; background: url('/icons.png') -1888px -416px; }
.helm78 { width: 32px; height: 32px; background: url('/icons.png') -1920px -416px; }
.helm79 { width: 32px; height: 32px; background: url('/icons.png') -1952px -416px; }
.helm80 { width: 32px; height: 32px; background: url('/icons.png') -1984px -416px; }
.helm81 { width: 32px; height: 32px; background: url('/icons.png') -2016px -416px; }
.helm82 { width: 32px; height: 32px; background: url('/icons.png') -0px -448px; }
.helm83 { width: 32px; height: 32px; background: url('/icons.png') -32px -448px; }
.helm84 { width: 32px; height: 32px; background: url('/icons.png') -64px -448px; }
.armor1 { width: 32px; height: 32px; background: url('/icons.png') -96px -448px; }
.armor2 { width: 32px; height: 32px; background: url('/icons.png') -128px -448px; }
.armor3 { width: 32px; height: 32px; background: url('/icons.png') -160px -448px; }
.armor4 { width: 32px; height: 32px; background: url('/icons.png') -192px -448px; }
.armor5 { width: 32px; height: 32px; background: url('/icons.png') -224px -448px; }
.armor6 { width: 32px; height: 32px; background: url('/icons.png') -256px -448px; }
.armor7 { width: 32px; height: 32px; background: url('/icons.png') -288px -448px; }
.armor8 { width: 32px; height: 32px; background: url('/icons.png') -320px -448px; }
.armor9 { width: 32px; height: 32px; background: url('/icons.png') -352px -448px; }
.armor10 { width: 32px; height: 32px; background: url('/icons.png') -384px -448px; }
.armor11 { width: 32px; height: 32px; background: url('/icons.png') -416px -448px; }
.armor12 { width: 32px; height: 32px; background: url('/icons.png') -448px -448px; }
.armor13 { width: 32px; height: 32px; background: url('/icons.png') -480px -448px; }
.armor14 { width: 32px; height: 32px; background: url('/icons.png') -512px -448px; }
.armor15 { width: 32px; height: 32px; background: url('/icons.png') -544px -448px; }
.armor16 { width: 32px; height: 32px; background: url('/icons.png') -576px -448px; }
.armor17 { width: 32px; height: 32px; background: url('/icons.png') -608px -448px; }
.armor18 { width: 32px; height: 32px; background: url('/icons.png') -640px -448px; }
.armor19 { width: 32px; height: 32px; background: url('/icons.png') -672px -448px; }
.armor20 { width: 32px; height: 32px; background: url('/icons.png') -704px -448px; }
.armor21 { width: 32px; height: 32px; background: url('/icons.png') -736px -448px; }
.armor22 { width: 32px; height: 32px; background: url('/icons.png') -768px -448px; }
.armor23 { width: 32px; height: 32px; background: url('/icons.png') -800px -448px; }
.armor24 { width: 32px; height: 32px; background: url('/icons.png') -832px -448px; }
.armor25 { width: 32px; height: 32px; background: url('/icons.png') -864px -448px; }
.armor26 { width: 32px; height: 32px; background: url('/icons.png') -896px -448px; }
.armor27 { width: 32px; height: 32px; background: url('/icons.png') -928px -448px; }
.armor28 { width: 32px; height: 32px; background: url('/icons.png') -960px -448px; }
.armor29 { width: 32px; height: 32px; background: url('/icons.png') -992px -448px; }
.armor30 { width: 32px; height: 32px; background: url('/icons.png') -1024px -448px; }
.armor31 { width: 32px; height: 32px; background: url('/icons.png') -1056px -448px; }
.armor32 { width: 32px; height: 32px; background: url('/icons.png') -1088px -448px; }
.armor33 { width: 32px; height: 32px; background: url('/icons.png') -1120px -448px; }
.armor34 { width: 32px; height: 32px; background: url('/icons.png') -1152px -448px; }
.armor35 { width: 32px; height: 32px; background: url('/icons.png') -1184px -448px; }
.armor36 { width: 32px; height: 32px; background: url('/icons.png') -1216px -448px; }
.armor37 { width: 32px; height: 32px; background: url('/icons.png') -1248px -448px; }
.armor38 { width: 32px; height: 32px; background: url('/icons.png') -1280px -448px; }
.armor39 { width: 32px; height: 32px; background: url('/icons.png') -1312px -448px; }
.armor40 { width: 32px; height: 32px; background: url('/icons.png') -1344px -448px; }
.armor41 { width: 32px; height: 32px; background: url('/icons.png') -1376px -448px; }
.armor42 { width: 32px; height: 32px; background: url('/icons.png') -1408px -448px; }
.armor43 { width: 32px; height: 32px; background: url('/icons.png') -1440px -448px; }
.armor44 { width: 32px; height: 32px; background: url('/icons.png') -1472px -448px; }
.armor45 { width: 32px; height: 32px; background: url('/icons.png') -1504px -448px; }
.armor46 { width: 32px; height: 32px; background: url('/icons.png') -1536px -448px; }
.armor47 { width: 32px; height: 32px; background: url('/icons.png') -1568px -448px; }
.armor48 { width: 32px; height: 32px; background: url('/icons.png') -1600px -448px; }
.armor49 { width: 32px; height: 32px; background: url('/icons.png') -1632px -448px; }
.armor50 { width: 32px; height: 32px; background: url('/icons.png') -1664px -448px; }
.armor51 { width: 32px; height: 32px; background: url('/icons.png') -1696px -448px; }
.armor52 { width: 32px; height: 32px; background: url('/icons.png') -1728px -448px; }
.shoes1 { width: 32px; height: 32px; background: url('/icons.png') -1760px -448px; }
.shoes2 { width: 32px; height: 32px; background: url('/icons.png') -1792px -448px; }
.shoes3 { width: 32px; height: 32px; background: url('/icons.png') -1824px -448px; }
.shoes4 { width: 32px; height: 32px; background: url('/icons.png') -1856px -448px; }
.shoes5 { width: 32px; height: 32px; background: url('/icons.png') -1888px -448px; }
.shoes6 { width: 32px; height: 32px; background: url('/icons.png') -1920px -448px; }
.shoes7 { width: 32px; height: 32px; background: url('/icons.png') -1952px -448px; }
.shoes8 { width: 32px; height: 32px; background: url('/icons.png') -1984px -448px; }
.shoes9 { width: 32px; height: 32px; background: url('/icons.png') -2016px -448px; }
.shoes10 { width: 32px; height: 32px; background: url('/icons.png') -0px -480px; }
.shoes11 { width: 32px; height: 32px; background: url('/icons.png') -32px -480px; }
.shoes12 { width: 32px; height: 32px; background: url('/icons.png') -64px -480px; }
.shoes13 { width: 32px; height: 32px; background: url('/icons.png') -96px -480px; }
.shoes14 { width: 32px; height: 32px; background: url('/icons.png') -128px -480px; }
.shoes15 { width: 32px; height: 32px; background: url('/icons.png') -160px -480px; }
.shoes16 { width: 32px; height: 32px; background: url('/icons.png') -192px -480px; }
.shoes17 { width: 32px; height: 32px; background: url('/icons.png') -224px -480px; }
.shoes18 { width: 32px; height: 32px; background: url('/icons.png') -256px -480px; }
.shoes19 { width: 32px; height: 32px; background: url('/icons.png') -288px -480px; }
.shoes20 { width: 32px; height: 32px; background: url('/icons.png') -320px -480px; }
.shoes21 { width: 32px; height: 32px; background: url('/icons.png') -352px -480px; }
.shoes22 { width: 32px; height: 32px; background: url('/icons.png') -384px -480px; }
.shoes23 { width: 32px; height: 32px; background: url('/icons.png') -416px -480px; }
.shoes24 { width: 32px; height: 32px; background: url('/icons.png') -448px -480px; }
.shoes25 { width: 32px; height: 32px; background: url('/icons.png') -480px -480px; }
.shoes26 { width: 32px; height: 32px; background: url('/icons.png') -512px -480px; }
.shoes27 { width: 32px; height: 32px; background: url('/icons.png') -544px -480px; }
.shoes28 { width: 32px; height: 32px; background: url('/icons.png') -576px -480px; }
.shoes29 { width: 32px; height: 32px; background: url('/icons.png') -608px -480px; }
.shoes30 { width: 32px; height: 32px; background: url('/icons.png') -640px -480px; }
.shoes31 { width: 32px; height: 32px; background: url('/icons.png') -672px -480px; }
.shoes32 { width: 32px; height: 32px; background: url('/icons.png') -704px -480px; }
.shoes33 { width: 32px; height: 32px; background: url('/icons.png') -736px -480px; }
.shoes34 { width: 32px; height: 32px; background: url('/icons.png') -768px -480px; }
.shoes35 { width: 32px; height: 32px; background: url('/icons.png') -800px -480px; }
.shoes36 { width: 32px; height: 32px; background: url('/icons.png') -832px -480px; }
.shoes37 { width: 32px; height: 32px; background: url('/icons.png') -864px -480px; }
.shoes38 { width: 32px; height: 32px; background: url('/icons.png') -896px -480px; }
.shoes39 { width: 32px; height: 32px; background: url('/icons.png') -928px -480px; }
.shoes40 { width: 32px; height: 32px; background: url('/icons.png') -960px -480px; }
.shoes41 { width: 32px; height: 32px; background: url('/icons.png') -992px -480px; }
.shoes42 { width: 32px; height: 32px; background: url('/icons.png') -1024px -480px; }
.shoes43 { width: 32px; height: 32px; background: url('/icons.png') -1056px -480px; }
.shoes44 { width: 32px; height: 32px; background: url('/icons.png') -1088px -480px; }
.shoes45 { width: 32px; height: 32px; background: url('/icons.png') -1120px -480px; }
.shoes46 { width: 32px; height: 32px; background: url('/icons.png') -1152px -480px; }
.shoes47 { width: 32px; height: 32px; background: url('/icons.png') -1184px -480px; }
.shoes48 { width: 32px; height: 32px; background: url('/icons.png') -1216px -480px; }
.leg1 { width: 32px; height: 32px; background: url('/icons.png') -1280px -480px; }
.leg2 { width: 32px; height: 32px; background: url('/icons.png') -1312px -480px; }
.leg3 { width: 32px; height: 32px; background: url('/icons.png') -1344px -480px; }
.leg4 { width: 32px; height: 32px; background: url('/icons.png') -1376px -480px; }
.leg5 { width: 32px; height: 32px; background: url('/icons.png') -1408px -480px; }
.leg6 { width: 32px; height: 32px; background: url('/icons.png') -1440px -480px; }
.leg7 { width: 32px; height: 32px; background: url('/icons.png') -1472px -480px; }
.leg8 { width: 32px; height: 32px; background: url('/icons.png') -1504px -480px; }
.leg9 { width: 32px; height: 32px; background: url('/icons.png') -1536px -480px; }
.leg10 { width: 32px; height: 32px; background: url('/icons.png') -1568px -480px; }
.leg11 { width: 32px; height: 32px; background: url('/icons.png') -1600px -480px; }
.leg12 { width: 32px; height: 32px; background: url('/icons.png') -1632px -480px; }
.leg13 { width: 32px; height: 32px; background: url('/icons.png') -1664px -480px; }
.leg14 { width: 32px; height: 32px; background: url('/icons.png') -1696px -480px; }
.leg15 { width: 32px; height: 32px; background: url('/icons.png') -1728px -480px; }
.leg16 { width: 32px; height: 32px; background: url('/icons.png') -1760px -480px; }
.leg17 { width: 32px; height: 32px; background: url('/icons.png') -1792px -480px; }
.leg18 { width: 32px; height: 32px; background: url('/icons.png') -1824px -480px; }
.leg19 { width: 32px; height: 32px; background: url('/icons.png') -1856px -480px; }
.leg20 { width: 32px; height: 32px; background: url('/icons.png') -1888px -480px; }
.leg21 { width: 32px; height: 32px; background: url('/icons.png') -1920px -480px; }
.leg22 { width: 32px; height: 32px; background: url('/icons.png') -1952px -480px; }
.leg23 { width: 32px; height: 32px; background: url('/icons.png') -1984px -480px; }
.leg24 { width: 32px; height: 32px; background: url('/icons.png') -2016px -480px; }
.leg25 { width: 32px; height: 32px; background: url('/icons.png') -0px -512px; }
.leg26 { width: 32px; height: 32px; background: url('/icons.png') -32px -512px; }
.leg27 { width: 32px; height: 32px; background: url('/icons.png') -64px -512px; }
.leg28 { width: 32px; height: 32px; background: url('/icons.png') -96px -512px; }
.leg29 { width: 32px; height: 32px; background: url('/icons.png') -128px -512px; }
.leg30 { width: 32px; height: 32px; background: url('/icons.png') -160px -512px; }
.leg31 { width: 32px; height: 32px; background: url('/icons.png') -192px -512px; }
.leg32 { width: 32px; height: 32px; background: url('/icons.png') -224px -512px; }
.leg33 { width: 32px; height: 32px; background: url('/icons.png') -256px -512px; }
.leg34 { width: 32px; height: 32px; background: url('/icons.png') -288px -512px; }
.leg35 { width: 32px; height: 32px; background: url('/icons.png') -320px -512px; }
.leg36 { width: 32px; height: 32px; background: url('/icons.png') -352px -512px; }
.leg37 { width: 32px; height: 32px; background: url('/icons.png') -384px -512px; }
.leg38 { width: 32px; height: 32px; background: url('/icons.png') -416px -512px; }
.leg39 { width: 32px; height: 32px; background: url('/icons.png') -448px -512px; }
.leg40 { width: 32px; height: 32px; background: url('/icons.png') -480px -512px; }
.leg41 { width: 32px; height: 32px; background: url('/icons.png') -512px -512px; }
.leg42 { width: 32px; height: 32px; background: url('/icons.png') -544px -512px; }
.leg43 { width: 32px; height: 32px; background: url('/icons.png') -576px -512px; }
.leg44 { width: 32px; height: 32px; background: url('/icons.png') -608px -512px; }
.leg45 { width: 32px; height: 32px; background: url('/icons.png') -640px -512px; }
.leg46 { width: 32px; height: 32px; background: url('/icons.png') -672px -512px; }
.leg47 { width: 32px; height: 32px; background: url('/icons.png') -704px -512px; }
.leg48 { width: 32px; height: 32px; background: url('/icons.png') -736px -512px; }
.leg49 { width: 32px; height: 32px; background: url('/icons.png') -768px -512px; }
.leg50 { width: 32px; height: 32px; background: url('/icons.png') -800px -512px; }
.leg51 { width: 32px; height: 32px; background: url('/icons.png') -832px -512px; }
.leg52 { width: 32px; height: 32px; background: url('/icons.png') -864px -512px; }
.leg53 { width: 32px; height: 32px; background: url('/icons.png') -896px -512px; }
.leg54 { width: 32px; height: 32px; background: url('/icons.png') -928px -512px; }
.leg55 { width: 32px; height: 32px; background: url('/icons.png') -960px -512px; }
.gem1 { width: 32px; height: 32px; background: url('/icons.png') -1408px -64px; }
.gem2 { width: 32px; height: 32px; background: url('/icons.png') -1440px -64px; }
.gem3 { width: 32px; height: 32px; background: url('/icons.png') -1472px -64px; }
.gem4 { width: 32px; height: 32px; background: url('/icons.png') -1504px -64px; }
.gem5 { width: 32px; height: 32px; background: url('/icons.png') -1536px -64px; }
.gem6 { width: 32px; height: 32px; background: url('/icons.png') -1568px -64px; }
.gem7 { width: 32px; height: 32px; background: url('/icons.png') -1600px -64px; }
.gem8 { width: 32px; height: 32px; background: url('/icons.png') -1632px -64px; }
.gem9 { width: 32px; height: 32px; background: url('/icons.png') -1664px -64px; }
.gem10 { width: 32px; height: 32px; background: url('/icons.png') -1696px -64px; }
.gem11 { width: 32px; height: 32px; background: url('/icons.png') -1728px -64px; }
.gem12 { width: 32px; height: 32px; background: url('/icons.png') -1760px -64px; }
.gem13 { width: 32px; height: 32px; background: url('/icons.png') -1792px -64px; }
.gem14 { width: 32px; height: 32px; background: url('/icons.png') -1824px -64px; }
.gem15 { width: 32px; height: 32px; background: url('/icons.png') -1856px -64px; }
.gem16 { width: 32px; height: 32px; background: url('/icons.png') -1248px -128px; }
.gem17 { width: 32px; height: 32px; background: url('/icons.png') -1280px -128px; }
.gem18 { width: 32px; height: 32px; background: url('/icons.png') -1312px -128px; }
.gem19 { width: 32px; height: 32px; background: url('/icons.png') -1344px -128px; }
.gem20 { width: 32px; height: 32px; background: url('/icons.png') -1376px -128px; }
.gem21 { width: 32px; height: 32px; background: url('/icons.png') -1408px -128px; }
.gem22 { width: 32px; height: 32px; background: url('/icons.png') -1440px -128px; }
.gem23 { width: 32px; height: 32px; background: url('/icons.png') -1472px -128px; }
.gem24 { width: 32px; height: 32px; background: url('/icons.png') -1504px -128px; }
.gem25 { width: 32px; height: 32px; background: url('/icons.png') -1536px -128px; }
.gem26 { width: 32px; height: 32px; background: url('/icons.png') -1568px -128px; }
.gem27 { width: 32px; height: 32px; background: url('/icons.png') -1600px -128px; }
