<template name="gamecontrols">
	<div class="row blue-grey darken-4">
		
        <div class="col s12 blue-grey darken-4"><h5>Controls</h5></div>
		<ul class="col s6 collapsible blue-grey darken-4" data-collapsible="accordion">
			<li>
				<div class="collapsible-header blue-grey darken-3 active">Navigation</div>
				<div class="collapsible-body blue-grey darken-4 row">
					<a href="/game" class="col s3 btn green darken-4 white-text">Home</a>
					<a href="/inventory" class="col s3 btn green darken-4 white-text">Inventory</a>

					{{#if gameInCombat}}
                        
					{{else}}
						<a href="/shop" class="col s3 btn green darken-4 white-text left" value="shop">Shop</a>	
						<a href="/game/recruit" class="col s3 btn green darken-4 white-text">Recruit</a>
						<a href="/game/monsterlab" class="col s3 btn green darken-4 white-text">Monster Lab</a>

						{{#if onGamePage}}
						{{/if}}
					{{/if}}
				</div>
            </li>
		</ul>
        
		<ul class="col s6 collapsible blue-grey darken-4" data-collapsible="accordion">
			{{#if onGamePage}}
				<li>
					<div class="collapsible-header blue-grey darken-3 active">Toggles</div>
					<div class="collapsible-body blue-grey darken-4 row">

						{{#if retry}}
							<button class="col s3 btn green darken-1 white-text" id="retry" value="RETRY">Autofight: On</button>
						{{else}}
							<button class="col s3 btn green darken-4 white-text" id="retry" value="RETRY">Autofight: Off</button>
						{{/if}}

						{{#if paused}}
							<button class="col s3 btn red darken-4 white-text" id="pause" value="PAUSED">PAUSED</button>
						{{else}}
							<button class="col s3 btn green darken-4 white-text" id="pause" value="pause">pause</button>
						{{/if}}
					</div>
				</li>
			{{/if}}
			
		</ul>
		
		
		
		
		
		
		
	</div>
	
</template>