<template name="regiondropdown">
	
	
	<div class="input-field col s12 blue-grey darken-4 white-text">
		<span class="white-text">Region</span>
		<select class="browser-default blue-grey" name="region" id="region">
			{{#each regions}}
				<option value="{{key}}" {{ifSelected key}}>
					{{unCamelCase key}} 
					{{#with value}}
						(Base Level {{level}})
						{{#if maxRounds}}
							({{maxRounds}} Rounds)
						{{else}}
							(Endless)
						{{/if}}
					{{/with}}
				</option>
			{{/each}}
			
		</select>
	</div>
	
	
</template>